/ Page info
.page-top-info
  .container
    %h4 Your cart
    .site-pagination
      %a{href: "#{root_path}"} Home
      \/
      %a{href: "#{carts_path}"} Your cart
/ Page info end
%section
  .container
    .row
      %div{style: "margin-left: auto; margin-right: auto; padding-top: 12px;"}
        - unless @carts.present?
          = image_tag "theme_a/img/shoping_cart.jpg", style: "height: 172px; margin-left: auto; margin-right: auto; display: block; width: 201px;"
          %h3{style: "text-align: center; margin-top: 7px;"} Your cart is empty!
          %p{style: "text-align: center; margin-top: 7px;"} Add items for order.
          %a.site-btn.sb-dark{href: "#{products_path}"} Continue shopping
%section.cart-section.spad{style: "padding-top: 68px;"}
  .container
    .row
      .col-lg-12
        - if @carts.blank?
          %div{class: "cart-table-hide"}
        - else
          %div{class: "cart-table"}
            %h3 Your Cart
            .cart-table-warp
              %table{class: "form-group"}
                %thead
                  %tr
                    %th.product-th Product
                    %th.quy-th Quantity
                    %th.quy-th Color
                    %th.size-th Size
                    %th.total-th Price
                    %th.total-th{colspan: "2"} Action
                %tbody
                - @carts.each do |cart|
                  %tr
                    %td.product-col
                      = image_tag cart.product.image
                      .pc-title
                        %h4=  " Per #{cart.product.name}"
                        %p= cart.product.mrp
                    %td.size-col
                      %span= cart.quantity
                    %td.size-col
                      .fw-color-choose{style: "border: none; margin-bottom: -11px; padding: 0;"}
                        .cs-item
                          %label{style: "background-color: #{cart.product_color.color.value}"}
                    %td.size-col
                      %h4= cart.product_size.size.name
                    %td.total-col
                      %h4= best_in_place cart, :total
                    %td.total-col
                      = link_to " ",  edit_cart_path(cart), class: "flaticon-edit"
                    %td.total-col
                      = button_to "✖", cart_path(cart), method: :delete, class: "btn"
            .total-cost{style: "border-radius: 33px;"}
              %h6
                Total
                %span= "#{current_user.carts.pluck(:total).sum}"
            .total-cost{style: "background: white;"}
              %h6{ style: "color: red;"}
                = paginate @carts
        .col-lg-4.card-right
          - if @carts.present?
            %a.site-btn{href: "#{checkouts_path}"} Proceed to checkout
